/*Estilos da pagina index.html*/
.center{
    text-align: center;
}

.justfy{
    text-align: justify;
}

.container{
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
}

.menu li{
    display: inline;
    padding: 20px;
    
}

#menu li a{
    text-decoration: nome;
    color:black;
    font-size: 16px;
}

#menu li a:hover{
    color: gray;
}

.p-20 {
    padding: 20px;
}

.br-50{
    border-radius: 50%;
}

.wh-400{
    width: 400px;
    height: 400px;
}

.tm-social{
    width: 40px;
    height: 40px;
}

.mb-40{
    margin-bottom: 40px;
}


/*Estilos da pagina contato.html*/

.ml-50{
    margin-left: 50px;
}